/* Usar el archivo de advinansy.pdf para imagenes y colores */
/* No usar colores no definidos en el documento */
/* Cada uni debe trabajar con su propio archivo css, siguiento la siguiente norma: */
/* Quien trabaje con el header y footer debe usar el archivo hf_newpost.css #/
/* Quien trabaje con el body debe usar el archivo by_newpost.css #/
/* Quien trabaje con el sidebar debe usar el archivo sb_newpost.css #/
/* Por favor ajuste su trabajo a las definiciones en regadas */
