* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

select {
    background: #ED70C0;
    height: 50px;
    width: 300px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    letter-spacing: 3px;
}

.lupa {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ED70C0;
}

i {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.new-post {
    border: 1px solid black;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #561DE2;
    color: white;
}